<h2>Create a New Sandwich</h2>
<form action="/sandwiches" method="post">
    <label for="sandwich_name">Name Your Sandwich:</label>
    <input type="text" name="sandwich_name" id="sandwich_name" required><br>
    <label for="ingredients">List Ingredients and Directions:</label>
    <input type="text" name="ingredients" id="ingredients"><br>
    <input type="submit" value="Create">

</form>
