<h1>Sign Up for Sandwich Platter</h1>

<form action="/new" method= "post">
    <label for="username">Create a Username</label>
    <input type="text" name="username" id="username"><br>

    <label for="password">Create a Tasty Password</label>
    <input type="password" name="password" id="password"><br>

    <label for="email">Enter Your Email</label>
    <input type="text" name="email" id="email"><br>

    <input type="submit" value="Submit">

</form>
